a.active {
    transition: 1s;
    border: 1px solid #23BE0A;
    background-color: white !important;
    color: #23BE0A !important;
}

a.pending {
    transition: 1s;
    border: 1px solid #23BE0A !important;
    background-color: #23BE0A !important;
    color: white !important;
}

li a:hover {
    background-color: #23BE0A !important;
    color: white !important;
}